doctype html
html
	head
		title MULTISWEEPER
		link(rel="stylesheet" href="/css/style.css")

	body
		div.center.panel
			p NEW ROOM
			br
			br
			p WIDTH
			input#widthInput
			p HEIGHT
			input#heightInput
			p MINES
			input#minesInput
			div
				div.button.floatRight#confirmButton
					p DONE

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
		script(src="/js/createRoomPage.js")
