doctype html
html
	head
		title MULTISWEEPER
		link(rel="stylesheet" href="/css/style.css")

	body
		p.error#errorText
		div.title.center
			h1 MULTISWEEPER

			div.button#createRoomButton
				p CREATE ROOM

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
		script(src="/js/splashPage.js")
